/*generales*/
* {
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}

h1{
    font-family: 'Chakra Petch', sans-serif;
    text-decoration: solid;
    color: white;
    background-color: black;
    width: fit-content;
    padding: 10px;
    border-style: solid;
    border-color: white;
}

h2{
    font-family: 'Ibarra Real Nova', serif;
    text-decoration: solid;
    color: white;
    background-color: rgba(0, 0, 0, 0.568);
    width: fit-content;
    padding: 10px;
   /* border-style: solid;
    border-color: white;*/
}

ul{
    list-style: none;
    font-family:'Chakra Petch', sans-serif;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

body{
    background-image: url(../images/fondo.jpg);
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 24px;
}




/*main*/

.main-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.movieResults{
    display: flex;
    padding: 16px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
    background-color: #0e0b0b;
    border-radius: 6px;
    margin: 24px 0;
}

.movieResults img{
    max-width: 150px;
    height: auto;
    object-fit: cover;
}
.movieResults h3{
    max-width: 150px;
}

.populares{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.peli{
    background-color: #0e0b0b9c;
    padding: 2%;
    margin: 20px;
    justify-content: flex-start;
    border-radius: 12px;

}

.peli img{
    width: 200px;
    height: 300px;
}

.tituloPeli{
    margin-top: 12px;
}

/*header*/

header{
    background-color: #0e0b0b;
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    align-self: center;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
}

.header-left-block{
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.header-left-block img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 12px 0;
}

header h1{
    border-style: none;
    background-color: #0e0b0b;
}

.searchBar{
    display: flex;
    padding: 12px;
    background-color: #fff;
    border-radius: 12px;
    max-width: 360px;
    height: 40px;
}

.searchBar a{
    align-self: center;
}

.searchMovie{
    border-radius: 12px;
    padding-left: 12px;
    width: 100%;
    border: none;
}

.searchBar img{
    margin-left: 12px;
    width: 24px;
    height: 24px;
}

.navegacion ul{
    display: flex;
    column-gap: 12px;
}

/*footer*/

footer{
    color: white;
    background-color: #0e0b0b;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    height: fit-content;
    border-radius: 15px;
    margin-top: 20px;
}

footer img{
    align-self: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding: 20px;
}

footer h2{
    justify-self: flex-start;
    background-color: #0e0b0b;
    height: fit-content;
}

.creadores{
    border-style: none;
}

/*Detalle pelicula/serie*/

.detail-movie{
    display: flex;
    justify-content: center;
}

.detail{
    background-color: black;
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 30px 0 30px 0;
    border-radius: 40px;
}

.detail h1{
    align-self: center;
}

.detail img {
    margin-top: 24px;
}

.portada{
    width: 70%;
    height: auto;
    align-self: center;
}

.rating-favs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}

.rating-favs img{
    margin: 0;
}

.detail-favoritos{
    display: flex;
    column-gap: 12px;
    height: fit-content;
}

.detail-favoritos p{
    align-self: center;
}

.fav{
    width: 32px;
    height: 32px;
    align-self: center;
}

.estrellas{
    width: 200px;
}

.detail-info{
    display: flex;
    justify-content: space-between;
}

.detal-description{
    text-align: justify;
}

/*pagina generos*/

.gen{
    margin: 20px auto;
}

.generos{
    display: flex;
    flex-wrap: wrap;
    background-color: #0e0b0b;
    width: 600px;
    justify-content: space-evenly;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
}

.generos li{
    border-style: solid;
    border-color: white;
    width: 150px;
    text-align: center;
}

/*favoritos*/

.favoritos{
    display: flex;
    flex-direction: column;
}
h1{
    align-self: center;
}


/* Tablet Responsive */

@media (max-width: 768px){
    header{
        flex-direction: column;
        row-gap: 24px;
    }

    footer{
        flex-direction: column;
        padding: 16px;
    }

    footer ul{
        text-align: center;
    }

    .rating-favs{
        flex-direction: column;
        row-gap: 12px;
    }
    
    .detail-info{
        flex-direction: column;
        row-gap: 12px;
        flex-wrap: wrap;
    }
}


/* telefono responsive */

@media (max-width: 425px){

    .detail{
        width: 100%;
    }

    h2{
        text-align: center;
    }

    .generos{
        flex-direction: column;
        width: fit-content;
        row-gap: 12px;
    }

    h1{
        margin-top: 20px;
    }

}

