/*generales*/

p{
    font-family: 'Chakra Petch', sans-serif;
}

h1{
    font-family: 'Chakra Petch', sans-serif;
    text-decoration: solid;
}

h2{
    font-family:'Chakra Petch', sans-serif;
    text-decoration: solid;
}

ul{
    list-style: none;
    font-family:'Chakra Petch', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

body{
    background-image: url(../images/fondo.jpg);
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container{
    max-width: 1180px;
    display: flex;
    flex-direction: column;
}


/*header*/

header{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    align-self: center;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/*main*/

.main-index{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-index h2{
    background-color: black;
    color: white;
    width: fit-content;
}

.populares{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.peli{
    background-color: black;
    padding: 2%;
    margin: 20px;
    justify-content: flex-start;
    border-radius: 12px;
    border-style: solid;
    border-color: white;

}

.peli img{
    width: 200px;
    height: 300px;
}


/*footer*/

footer{
    color: white;
    background-color: red;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px;
}

footer img{
    align-self: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding: 20px;
}

footer h2{
    justify-self: flex-start;
}




/*Detalle pelicula/serie*/

.detail-movie{
    display: flex;
    justify-content: center;
}

.detail{
    background-color: black;
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 30px 0 30px 0;
    border-radius: 40px;
}

.detail h1{
    align-self: center;
}

.portada{
    width: 400px;
    height: 600px;
    align-self: center;
}

.estrellas{
    width: 200px;
}

.info{
    display: flex;
    justify-content: space-evenly;
}